# Environments
.env
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Application Data & Logs (Keep private!)
data/*.csv
!data/.keep
logs/*.log
logs/*.csv
!logs/.keep
attachments/*.pdf
!attachments/.keep
